<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Train memorizing the Japanese Alphabet</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
        <script src="./static/js/alphabet.js"></script>
        <script src="./static/js/combinations.js"></script>
        <script src="./static/js/script.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="./static/css/main.css">
    </head>
    <body ng-app="app" ng-controller="MainPageController">
        <div ng-show="startPage">
            <div class="jumbotron">
                <div class="container">
                    <h1>Click on any option to start training!</h1>
                </div>
            </div>
            <div class="container app-selection"> <!-- Main page selection -->
                <div class="row">
                    <div class="col-md-6 selection-type" ng-click="startLearning('Hiragana')">
                        <img src="./static/imgs/box-hiragana.png" class="img-circle colored-background">
                        <h2>Hiragana</h2>
                        <p>Start training to memorize the romaji of Japanese Hiragana alphabet.</p>
                    </div>
                    <div class="col-md-6 selection-type" ng-click="startLearning('Katakana')">
                        <img src="./static/imgs/box-katakana.png" class="img-circle colored-background">
                        <h2>Katakana</h2>
                        <p>Start training to memorize the romaji of Japanese Katakana alphabet.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 selection-type" ng-click="startLearning('Hiragana Romaji')">
                        <img src="./static/imgs/box-hiragana.png" class="img-circle colored-background">
                        <h2>Hiragana Romaji</h2>
                        <p>Match the romaji to the correct Japanese Hiragana letter.</p>
                    </div>
                    <div class="col-md-6 selection-type" ng-click="startLearning('Katakana Romaji')">
                        <img src="./static/imgs/box-katakana.png" class="img-circle colored-background">
                        <h2>Katakana Romaji</h2>
                        <p>Match the romaji to the correct Japanese Katakana letter.</p>
                    </div>
                </div>
            </div>
            <div class="container app-selection" ng-show="false"> <!-- Cheat sheet -->
                <h2>Japanese Alphabet Cheat Sheet</h2>
                <div class="col-md-2 selection-letter" ng-repeat="alphabet in japaneseAlphabet">
                    <span ng-bind="alphabet.hiragana"></span>
                    <span ng-bind="alphabet.katakana"></span>
                    <p ng-bind="alphabet.romaji"></p>
                </div>
            </div>
        </div>
        <div ng-show="showAlphabetController" ng-controller="alphabetController"> <!-- Hiragana / Katakana Training -->
            <div class="jumbotron">
                <div class="container">
                    <dl>
                        <dt><h1>{{trainingType}}</h1></dt>
                        <dd><h3>Write the corresponding romaji to the shown {{trainingType}} letter.</h3></dd>
                    </dl>
                </div>
            </div>
            <div class="container app-selection">
                <div class="alert alert-danger" ng-show="wrongAnswer">
                    Wrong answer!
                </div>
                <div class="row">
                    <div class="col-md-4 score alert-success">
                        {{score.correct}}
                    </div>
                    <div class="col-md-4 letter">
                        {{letter}}
                        <p ng-show="showAnswer" class="answer">{{answer}}</p>
                    </div>
                    <div class="col-md-4 score alert-danger">
                        {{score.wrong}}
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Romaji
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="userAnswer" ng-keyup="checkKey($event)">
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-default" ng-click="checkAnswer()">Next</button>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-default" ng-hide="showAnswer" ng-click="showAnswer=true">Show Answer</button>
                            <button class="btn btn-default" ng-show="showAnswer" ng-click="showAnswer=false">Hide Answer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="showRomajiController" ng-controller="romajiController"> <!-- Romaji Training -->
            <div class="jumbotron">
                <div class="container">
                    <dl>
                        <dt><h1>{{trainingType}}</h1></dt>
                        <dd><h3>Select the corresponding alphabet letter for the shown romaji.</h3></dd>
                        <dd><h3>If there's more than one, you can select anyone.</h3></dd>
                    </dl>
                </div>
            </div>
            <div class="container app-selection">
                <div class="alert alert-danger" ng-show="wrongAnswer">
                    Wrong answer!
                </div>
                <div class="row">
                    <div class="col-md-4 score alert-success">
                        {{score.correct}}
                    </div>
                    <div class="col-md-4 letter">
                        {{letter}}
                    </div>
                    <div class="col-md-4 score alert-danger">
                        {{score.wrong}}
                    </div>
                </div>
                <div class="row">
                    <div ng-repeat="item in items">
                        <div class="col-md-1 selection-letter" ng-click="checkAnswer($event)" id="{{item.selected}}">
                            {{item.letter}}
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top:30px;">
                    <button class="btn btn-default" ng-hide="showAnswer" ng-click="showAnswerFn()">Show Answer</button>
                </div>
            </div>
        </div>
    </body>
</html>