body {
    padding-top: 50px;
    padding-bottom:50px;
}

.colored-background {
    background: rgb(119, 119, 119); /* Fallback for browsers */
    background: rgba(119, 119, 119, 0.5);
}

.selection-type {
    padding: 10px;
    padding-top: 30px;
    border-radius: 2px;
    transition: box-shadow 0.5s;
}
.selection-type:hover {
    /*background: rgb(119, 119, 119); /* Fallback for browsers 
    background: rgba(173, 173, 173, 0.5);*/
    box-shadow: 3px 3px 20px grey;
    cursor: pointer;
}
.app-selection {
    text-align: center;
}

p {
    font-size: 17px;
}

.letter {
    font-size: 150px;
}
.score {
    font-size: 100px;
    border-radius: 3px;
}
.answer {
    color: grey;
    padding-bottom: 30px;
}

.grey {
    color: grey;
}

.selection-letter {
    font-size: 30px;
    cursor: pointer;
    top: 0;
    border-radius: 3px;
    transition-property: box-shadow, top;
    transition-duration: 0.2s, 0.2s;

}
.selection-letter:hover {
    top: -5px;
    box-shadow: 3px 3px 20px grey;
}

#true {
    top: -5px;
    box-shadow: 1px 1px 10px rgb(102, 255, 0);
}